.navbar {
    background-color: #38c770;
}

.footer{
    background-color: #38c770;

    text-align: center;

    position: fixed;

    bottom: 0;
    width: 100%;
    height: 5rem;
}

.copyright {
    top: 50%;
    bottom: 50%;
}