/*Status page styles*/
/*background*/
.background {
    min-height: 82vh;
    background-color: #D9CAB3;
}

/*status board*/
.stats_board{
    background-color: #F6F6F6;

    min-height: 82vh;
    width: 50%;

    margin: 0 auto;
}

/*Para aparelhos menores, informações ocupam toda a tela*/
@media only screen and (max-width: 1024px) {
    .stats_board {
        width: 100%;
        margin: 0;
    }
}

/*Título*/
.title_box {
    margin: auto;
    width: 70%;

    padding: 3%;
}

.board_title {
    text-align: center;
}

/*Estatísticas*/
.board_body {

}

.stats_text {
    padding: 3%;
}

.stats_box {
    text-align: start;

    border: dotted;
    border-color: #6D9886;
    border-width: 3px 0px 0px;
}

.data_box {
    text-align: center;
}
